.button-svg svg path {
    fill: white ;
    
}
 .group:hover .utility-icon svg path{
    fill: white !important;
}
.arrows-icon:hover svg path{
    fill: white ;
}
@media (max-width:991.98px){
      .thumb-star-icon svg{
        height: 150px;
        width: 160px;
    }
}

@media (max-width:767.98px){
    .thumb-star-icon svg{
        height: 150px;
        width: 160px;
    }
    .faq-icons svg {
        width: 20px;
        height: 20px;
    }
}