
@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
      font-family: "helvetica";
      src: url("/public/assets/fonts/Helvetica.ttf") format("truetype");
    }

  body{
    font-family: helvetica;
  } 